{% extends 'main.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h3>Товар</h3>
        <div>
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>price: {{ product.price }}</p>
            <button class="add_to_cart" data-id="{{ product.id }}">Купить</button>
        </div>
{% endblock %}
{% block script %}
  <script src='/product.js'></script>
{% endblock %}